.ascii-table-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;

    .col {
        padding: 0;
        min-width: 150px;
    }
}

.ascii-table {
    display: block;
    margin: 0;

    thead,
    tbody,
    tr {
        display: block;
    }

    thead {
        tr {
            background: rgba($color-white, .75);
        }

        th {
            border: none;
            font-weight: 600;
        }
    }

    tbody {
        tr {
            background: $color-white;

            &:hover td {
                background: $color-active;
                color: $color-white;
                cursor: pointer;
            }
        }
    }

    th,
    td {
        display: inline-block;
        height: 32px;
        padding: .25rem .75rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:first-of-type {
            min-width: 60px;
            width: 30%;
        }

        &:last-of-type {
            max-width: calc(100% - 60px);
            width: 70%;
        }
    }

    &.col + .col {
        border-left: 1px solid $separator-color;
    }
}

.ascii-table-legend,
.ascii-table {
    $control-char: #fff8e1;
    $punctuation-char: #e3f2fd;
    $numeric-char: #ede7f6;
    $alphabetic-upper: #e8f5e9;
    $alphabetic-low: #f1f8e9;
    $extended-punct: #e0e0e0;
    $graphic-char: #ffe0b2;
    $international-char: #fbe9e7;
    $udefined: #eceff1;
    $color-transparency: 1;
    $background-alpha: 1;

    .list-inline-item {
        margin-bottom: 10px;
    }

    .list-inline-item .fas {
        margin: 0 5px 0 0;
        line-height: .9rem;
        -webkit-box-shadow: 0px 0 0 1px $shadow-color;
                box-shadow: 0px 0 0 1px $shadow-color;
    }

    .control-character .fas {
        color: rgba($control-char, $color-transparency);
    }

    .punctuation .fas {
        color: rgba($punctuation-char, $color-transparency);
    }

    .numeric-digit .fas {
        color: rgba($numeric-char, $color-transparency);
    }

    .alphabetic-uppercase .fas {
        color: rgba($alphabetic-upper, $color-transparency);
    }

    .alphabetic-lowercase .fas {
        color: rgba($alphabetic-low, $color-transparency);
    }

    .extended-punctuation .fas {
        color: rgba($extended-punct, $color-transparency);
    }

    .graphic-character .fas {
        color: rgba($graphic-char, $color-transparency);
    }

    .international .fas {
        color: rgba($international-char, $color-transparency);
    }

    .undefined .fas {
        color: rgba($udefined, $color-transparency);
    }

    tbody {
        .control-character {
            background: rgba($control-char, $background-alpha);
        }

        .punctuation {
            background: rgba($punctuation-char, $background-alpha);
        }

        .numeric-digit {
            background: rgba($numeric-char, $background-alpha);
        }

        .alphabetic-uppercase {
            background: rgba($alphabetic-upper, $background-alpha);
        }

        .alphabetic-lowercase {
            background: rgba($alphabetic-low, $background-alpha);
        }

        .extended-punctuation {
            background: rgba($extended-punct, $background-alpha);
        }

        .graphic-character {
            background: rgba($graphic-char, $background-alpha);
        }

        .international {
            background: rgba($international-char, $background-alpha);
        }

        .undefined {
            background: rgba($udefined, $background-alpha);
        }
    }
}
