.ascii-card {
    margin: 0 -15px;
    border: none;
    background: none;

    .card-header,
    .card-body {
        padding: 1.2rem 2.8rem;
        border-radius: 0;
    }

    .card-header {
        background: $color-dark;
    }

    .list-inline {
        margin: 0;
    }

    .ascii-char-code-card {
        position: relative;
        margin: 0 0 1rem;
        padding: 0.5rem;
        flex-direction: row;
        overflow: hidden;
        user-select: none;
        -moz-transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
        -o-transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
        -webkit-transition: all 0.3s cubic-bezier(.25, .5, .25, 1);
        transition: all 0.3s cubic-bezier(.25, .5, .25, 1);

        &:hover {
            cursor: pointer;
            background: $color-active;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);

            div {
                color: $color-white;
            }
        }

        div {
            margin: 0 3px;
            font-weight: 600;
            text-transform: uppercase;
            color: $color-dark;
        }
    }
}

.card-header {
    overflow: hidden;
}

.anim {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.animEffect {
    animation: clickAnimation .6s linear;
}

@keyframes clickAnimation {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
