.ascii-nav {
    margin: 0 -15px;
    padding: 1.2rem 2.8rem;
    background: $bg-light;

    .nav-link {
        font-weight: 600;
        text-transform: uppercase;
    }

    a.navbar-brand {
        margin-right: 2.8rem;
        color: $text-color;
    }

    .form-with-icon {
        position: relative;
        padding-left: 2rem;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -21px;
            bottom: -21px;
            border-left: 1px solid rgba($text-color-muted, 0.3);
        }
    }

    .form-control {
        border: none;
        background: none;
    }
}
