.ascii-nav {
    margin: 0 -15px;
    padding: 1.2rem 2.8rem;
    background: $color-light;

    .navbar-brand,
    .navbar-toggler .fas {
        color: $text-color;
    }

    .nav-link {
        font-weight: 600;
        text-transform: uppercase;
    }

    .navbar-brand {
        margin: 0 2.8rem 0 0;
    }

    .nav-item {
        &.active {
            .nav-link {
                color: $color-active;
            }
        }
    }

    .navbar-nav {
        margin: 0 0 0 2.8rem;
    }

    .navbar-collapse {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -21px;
            bottom: -21px;
            border-left: 1px solid rgba($text-color-muted, 0.3);
        }
    }

    .search-container {
        display: flex;
        flex: 1;
        align-items: center;
    }

    .form-with-icon {
        width: 100%;
        padding-left: 2rem;
    }

    .form-control {
        width: calc(100% - 16px);
        border: none;
        background: none;
    }

    .dropdown {
        /*padding-right: 2rem;*/

        .active {
            color: $color-active;
            font-weight: 600;
            text-transform: uppercase;
        }

        .dropdown-toggle {
            color: $text-color;

            &::after {
                display: none;
            }
        }

        .btn {
            background-color: transparent;
        }

        .dropdown-item {
            &:hover {
                background: $color-active;
                color: $color-white;
            }
        }

        /*&::before {
            content: '';
            position: absolute;
            right: 0;
            top: -21px;
            bottom: -21px;
            border-left: 1px solid rgba($text-color-muted,.3);
        }*/
    }
}
