@media (max-width: 991.98px) {
  .ascii-container .ascii-nav .navbar-brand {
    margin: auto; }
  .ascii-container .ascii-nav .navbar-nav {
    margin: 0; }
  .ascii-container .ascii-nav .navbar-collapse.show {
    margin-left: 0; }
  .ascii-container .ascii-nav .navbar-collapse .search-container {
    margin: 1rem 0;
    border-top: 1px solid rgba(158, 158, 158, 0.3);
    border-bottom: 1px solid rgba(158, 158, 158, 0.3); }
  .ascii-container .ascii-nav .navbar-collapse .form-with-icon {
    width: calc(100% - 200px);
    padding: 0;
    border-right: 1px solid rgba(158, 158, 158, 0.3); }
  .ascii-container .ascii-nav .navbar-collapse .form-control {
    width: calc(100% - 16px);
    padding: 1rem; }
  .ascii-container .ascii-nav .navbar-collapse .dropdown {
    margin: 0; }
    .ascii-container .ascii-nav .navbar-collapse .dropdown::before {
      display: none; }
  .ascii-container .ascii-nav .navbar-collapse::before {
    display: none; } }

body {
  font-family: 'Work Sans', sans-serif;
  color: #757575; }

.btn,
.btn:focus,
button,
button:focus,
.form-control,
.form-control:focus {
  outline: none;
  box-shadow: none; }

a {
  color: #757575; }
  a:hover {
    color: #495057; }

.popover {
  background: #000; }
  .popover .arrow {
    left: calc(50% - 13px); }
    .popover .arrow::after {
      border-bottom-color: #000; }
  .popover .popover-header,
  .popover .popover-body {
    color: #fff; }

.wrapper {
  background: linear-gradient(to bottom, #d0dee4, #fdfdfd);
  width: 100%;
  height: 100vh; }
  .wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: linear-gradient(to bottom, #abc7d8, #657c70);
    -webkit-mask-image: linear-gradient(to left, white, transparent); }

.ascii-container {
  max-width: 1540px;
  position: relative;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: 0 3px 5px rgba(117, 117, 117, 0.35); }

.ascii-nav {
  margin: 0 -15px;
  padding: 1.2rem 2.8rem;
  background: #fafafa; }
  .ascii-nav .navbar-brand,
  .ascii-nav .navbar-toggler .fas {
    color: #757575; }
  .ascii-nav .nav-link {
    font-weight: 600;
    text-transform: uppercase; }
  .ascii-nav .navbar-brand {
    margin: 0 2.8rem 0 0; }
  .ascii-nav .nav-item.active .nav-link {
    color: #42a5f5; }
  .ascii-nav .navbar-nav {
    margin: 0 0 0 2.8rem; }
  .ascii-nav .navbar-collapse {
    position: relative; }
    .ascii-nav .navbar-collapse::before {
      content: '';
      position: absolute;
      left: 0;
      top: -21px;
      bottom: -21px;
      border-left: 1px solid rgba(158, 158, 158, 0.3); }
  .ascii-nav .search-container {
    display: flex;
    flex: 1;
    align-items: center; }
  .ascii-nav .form-with-icon {
    width: 100%;
    padding-left: 2rem; }
  .ascii-nav .form-control {
    width: calc(100% - 16px);
    border: none;
    background: none; }
  .ascii-nav .dropdown {
    padding-right: 2rem; }
    .ascii-nav .dropdown .active {
      color: #42a5f5;
      font-weight: 600;
      text-transform: uppercase; }
    .ascii-nav .dropdown .dropdown-toggle {
      color: #757575; }
      .ascii-nav .dropdown .dropdown-toggle::after {
        display: none; }
    .ascii-nav .dropdown .btn {
      background-color: transparent; }
    .ascii-nav .dropdown .dropdown-item:hover {
      background: #42a5f5;
      color: #fff; }
    .ascii-nav .dropdown::before {
      content: '';
      position: absolute;
      right: 0;
      top: -21px;
      bottom: -21px;
      border-left: 1px solid rgba(158, 158, 158, 0.3); }

.card {
  border: none; }

.ascii-card {
  margin: 0 -15px;
  background: none; }
  .ascii-card .card-header,
  .ascii-card .card-body {
    padding: 1.2rem 2.8rem;
    border-radius: 0; }
  .ascii-card .card-header {
    background: #495057; }
  .ascii-card .card-sm .card-body {
    padding: 0.6rem 1.4rem; }
  .ascii-card .list-inline {
    margin: 0; }
  .ascii-card .ascii-char-code-card {
    position: relative;
    margin: 0 0 1rem;
    padding: 0.5rem;
    flex-direction: row;
    overflow: hidden;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.25, 1); }
    .ascii-card .ascii-char-code-card:hover {
      cursor: pointer;
      background: #42a5f5;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25); }
      .ascii-card .ascii-char-code-card:hover div {
        color: #fff; }
    .ascii-card .ascii-char-code-card div {
      margin: 0 3px;
      font-weight: 600;
      text-transform: uppercase;
      color: #495057; }

.card-header {
  overflow: hidden; }

.anim {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  position: absolute;
  opacity: 1; }

.animEffect {
  animation: clickAnimation .6s linear; }

@keyframes clickAnimation {
  100% {
    transform: scale(2);
    opacity: 0; } }

.ascii-table-container {
  display: flex; }

.ascii-table {
  margin: 0;
  /*border: 1px solid $color-white;*/ }
  .ascii-table thead tr {
    background: #fff; }
  .ascii-table thead th {
    border: none;
    font-weight: 600; }
  .ascii-table tbody tr {
    background: #fff; }
    .ascii-table tbody tr:hover td {
      background: #42a5f5;
      color: #fff;
      cursor: pointer; }
  .ascii-table th,
  .ascii-table td {
    max-width: 200px;
    padding: .25rem .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .ascii-table.col + .col {
    border-left: 1px solid #dee2e6; }

.ascii-table-legend .list-inline-item,
.ascii-table .list-inline-item {
  margin-bottom: 10px; }

.ascii-table-legend .list-inline-item .fas,
.ascii-table .list-inline-item .fas {
  margin: 0 5px 0 0;
  line-height: .9rem;
  box-shadow: 0px 0 0 1px #757575; }

.ascii-table-legend .control-character .fas,
.ascii-table .control-character .fas {
  color: rgba(255, 255, 141, 0.3); }

.ascii-table-legend .punctuation .fas,
.ascii-table .punctuation .fas {
  color: rgba(128, 216, 255, 0.3); }

.ascii-table-legend .numeric-digit .fas,
.ascii-table .numeric-digit .fas {
  color: rgba(179, 136, 255, 0.3); }

.ascii-table-legend .alphabetic-uppercase .fas,
.ascii-table .alphabetic-uppercase .fas {
  color: rgba(204, 255, 144, 0.3); }

.ascii-table-legend .alphabetic-lowercase .fas,
.ascii-table .alphabetic-lowercase .fas {
  color: rgba(198, 255, 0, 0.3); }

.ascii-table-legend .extended-punctuation .fas,
.ascii-table .extended-punctuation .fas {
  color: rgba(224, 224, 224, 0.3); }

.ascii-table-legend .graphic-character .fas,
.ascii-table .graphic-character .fas {
  color: rgba(255, 209, 128, 0.3); }

.ascii-table-legend .international .fas,
.ascii-table .international .fas {
  color: rgba(255, 158, 128, 0.3); }

.ascii-table-legend .undefined .fas,
.ascii-table .undefined .fas {
  color: rgba(215, 204, 200, 0.3); }

.ascii-table-legend tbody .control-character,
.ascii-table tbody .control-character {
  background: rgba(255, 255, 141, 0.3); }

.ascii-table-legend tbody .punctuation,
.ascii-table tbody .punctuation {
  background: rgba(128, 216, 255, 0.3); }

.ascii-table-legend tbody .numeric-digit,
.ascii-table tbody .numeric-digit {
  background: rgba(179, 136, 255, 0.3); }

.ascii-table-legend tbody .alphabetic-uppercase,
.ascii-table tbody .alphabetic-uppercase {
  background: rgba(204, 255, 144, 0.3); }

.ascii-table-legend tbody .alphabetic-lowercase,
.ascii-table tbody .alphabetic-lowercase {
  background: rgba(198, 255, 0, 0.3); }

.ascii-table-legend tbody .extended-punctuation,
.ascii-table tbody .extended-punctuation {
  background: rgba(224, 224, 224, 0.3); }

.ascii-table-legend tbody .graphic-character,
.ascii-table tbody .graphic-character {
  background: rgba(255, 209, 128, 0.3); }

.ascii-table-legend tbody .international,
.ascii-table tbody .international {
  background: rgba(255, 158, 128, 0.3); }

.ascii-table-legend tbody .undefined,
.ascii-table tbody .undefined {
  background: rgba(215, 204, 200, 0.3); }

