@import "variables";
@import "mixins";
@import "breakpoints";

//Resets and global styles

body {
    font-family: 'Work Sans', sans-serif;
    color: $text-color;
}

.btn,
.btn:focus,
button,
button:focus,
.form-control,
.form-control:focus {
    outline: none;
    box-shadow: none;
}

a {
    color: $text-color;

    &:hover {
        color: $color-dark;
    }
}

.hidden-input {
    display: none;
}

.popover {
    background: $color-black;

    .arrow {
        left: calc(50% - 13px);

        &::after {
            border-bottom-color: $color-black;
        }
    }

    .popover-header,
    .popover-body {
        color: $color-white;
    }
}

.wrapper {
    $top-left: #d0dee4;
    $top-right: #abc7d8;
    $bottom-left: #fdfdfd;
    $bottom-right: #657c70;

    @include FourPointGradient($top-left, $top-right, $bottom-left, $bottom-right);
    width: 100%;
    height: 100vh;
}

.ascii-container {
    max-width: 1540px;
    position: relative;
    margin-bottom: 1rem;
    background: rgba($color-white, .8);
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: 0 3px 5px rgba($shadow-color, .35);
}

@import "navigation";
@import "card";
@import "table";

.ascii-table-legend,
.ascii-table {
    $control-char: #ffff8d;
    $punctuation-char: #80d8ff;
    $numeric-char: #b388ff;
    $alphabetic-upper: #ccff90;
    $alphabetic-low: #c6ff00;
    $extended-punct: #e0e0e0;
    $graphic-char: #ffd180;
    $international-char: #ff9e80;
    $udefined: #455a64;
    $color-transparency: .3;
    $background-transparency: .1;

    .list-inline-item {
        margin-bottom: 10px;
    }

    .list-inline-item .fas {
        margin: 0 5px 0 0;
        line-height: .9rem;
        box-shadow: 0px 0 0 1px $shadow-color;
    }

    .control-character .fas {
        color: rgba($control-char, $color-transparency);
    }

    .punctuation .fas {
        color: rgba($punctuation-char, $color-transparency);
    }

    .numeric-digit .fas {
        color: rgba($numeric-char, $color-transparency);
    }

    .alphabetic-uppercase .fas {
        color: rgba($alphabetic-upper, $color-transparency);
    }

    .alphabetic-lowercase .fas {
        color: rgba($alphabetic-low, $color-transparency);
    }

    .extended-punctuation .fas {
        color: rgba($extended-punct, $color-transparency);
    }

    .graphic-character .fas {
        color: rgba($graphic-char, $color-transparency);
    }

    .international .fas {
        color: rgba($international-char, $color-transparency);
    }

    .undefined .fas {
        color: rgba($udefined, $color-transparency);
    }

    tbody {
        .control-character {
            background: rgba($control-char, $background-transparency);
        }

        .punctuation {
            background: rgba($punctuation-char, $background-transparency);
        }

        .numeric-digit {
            background: rgba($numeric-char, $background-transparency);
        }

        .alphabetic-uppercase {
            background: rgba($alphabetic-upper, $background-transparency);
        }

        .alphabetic-lowercase {
            background: rgba($alphabetic-low, $background-transparency);
        }

        .extended-punctuation {
            background: rgba($extended-punct, $background-transparency);
        }

        .graphic-character {
            background: rgba($graphic-char, $background-transparency);
        }

        .international {
            background: rgba($international-char, $background-transparency);
        }

        .undefined {
            background: rgba($udefined, $background-transparency);
        }
    }
}
