@import "variables";
@import "mixins";

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: $heading-color;
}

.wrapper {
    @include FourPointGradient(#d0dee4, #abc7d8, #fdfdfd, #657c70);
    width: 100%;
    height: 100vh;
}

.main-content {
    max-width: 1540px;
    position: relative;
    background: rgba($bg-white, .6);
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: 0 3px 5px rgba($shadow-color, .35);
}

.navbar {
    margin: 0 -15px;
    padding: 1.2rem 2.8rem;
    background: $bg-light;
    
    .nav-link {
        font-weight: 600;
        text-transform: uppercase;
    }
}

.card {
    margin: 0 -15px;
    border: none;
    background: none;

    .card-header,
    .card-body {
        padding: 1.2rem 2.8rem;
        border-radius: 0;
    }

    .card-header {
        background: $bg-dark;
    }
}
