@media (max-width: 991.98px) {
  .ascii-nav .navbar-brand {
    margin: auto; }
  .ascii-nav .navbar-collapse .form-with-icon {
    margin: 0.5rem 0;
    padding: 0;
    border-top: 1px solid rgba(158, 158, 158, 0.3);
    border-bottom: 1px solid rgba(158, 158, 158, 0.3); }
    .ascii-nav .navbar-collapse .form-with-icon .form-control {
      padding: 1rem;
      width: calc(100% - 16px); }
  .ascii-nav .navbar-collapse::before {
    display: none; } }

body {
  font-family: 'Work Sans', sans-serif;
  color: #757575; }

button,
button:focus,
.form-control,
.form-control:focus {
  outline: none;
  box-shadow: none; }

.wrapper {
  background: linear-gradient(to bottom, #d0dee4, #fdfdfd);
  width: 100%;
  height: 100vh; }
  .wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: linear-gradient(to bottom, #abc7d8, #657c70);
    -webkit-mask-image: linear-gradient(to left, white, transparent); }

.ascii-container {
  max-width: 1540px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: 0 3px 5px rgba(117, 117, 117, 0.35); }

.ascii-nav {
  margin: 0 -15px;
  padding: 1.2rem 2.8rem;
  background: #fafafa; }
  .ascii-nav .nav-link {
    font-weight: 600;
    text-transform: uppercase; }
  .ascii-nav .navbar-brand,
  .ascii-nav .navbar-toggler .fas,
  .ascii-nav .nav-link {
    color: #757575; }
  .ascii-nav .nav-item.active .nav-link {
    color: #42a5f5; }
  .ascii-nav .navbar-collapse {
    position: relative;
    margin: 0 0 0 1.8rem; }
    .ascii-nav .navbar-collapse::before {
      content: '';
      position: absolute;
      left: 0;
      top: -21px;
      bottom: -21px;
      border-left: 1px solid rgba(158, 158, 158, 0.3); }
  .ascii-nav .form-with-icon {
    padding-left: 2rem; }
  .ascii-nav .form-control {
    border: none;
    background: none; }

.ascii-card {
  margin: 0 -15px;
  border: none;
  background: none; }
  .ascii-card .card-header,
  .ascii-card .card-body {
    padding: 1.2rem 2.8rem;
    border-radius: 0; }
  .ascii-card .card-header {
    background: #495057; }

.ascii-table-container {
  display: flex; }

.ascii-table {
  margin: 0;
  border: 1px solid #fff; }
  .ascii-table thead tr {
    background: #fff; }
  .ascii-table thead th {
    border: none;
    font-weight: 600; }
  .ascii-table tbody tr {
    background: #fff; }
    .ascii-table tbody tr:nth-of-type(odd) {
      background: rgba(255, 255, 255, 0.9); }
    .ascii-table tbody tr:hover {
      background: #42a5f5;
      color: #fff; }
  .ascii-table th,
  .ascii-table td {
    padding: .3rem 1rem; }
  .ascii-table.col + .col {
    margin: 0 0 0 .5rem; }

