body {
  font-family: 'Work Sans', sans-serif;
  color: #757575; }

.wrapper {
  background: linear-gradient(to bottom, #d0dee4, #fdfdfd);
  width: 100%;
  height: 100vh; }
  .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: linear-gradient(to bottom, #abc7d8, #657c70);
    -webkit-mask-image: linear-gradient(to left, white, transparent); }

.ascii-container {
  max-width: 1540px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: 0 3px 5px rgba(117, 117, 117, 0.35); }

.ascii-nav {
  margin: 0 -15px;
  padding: 1.2rem 2.8rem;
  background: #fafafa; }
  .ascii-nav .nav-link {
    font-weight: 600;
    text-transform: uppercase; }

.ascii-card {
  margin: 0 -15px;
  border: none;
  background: none; }
  .ascii-card .card-header,
  .ascii-card .card-body {
    padding: 1.2rem 2.8rem;
    border-radius: 0; }
  .ascii-card .card-header {
    background: #495057; }

.ascii-table-container {
  display: flex; }

.ascii-table {
  margin: 0;
  border: 1px solid #fff; }
  .ascii-table thead tr {
    background: #fff; }
  .ascii-table thead th {
    border: none;
    font-weight: 600; }
  .ascii-table tbody tr {
    background: #fff; }
    .ascii-table tbody tr:nth-of-type(odd) {
      background: rgba(255, 255, 255, 0.9); }
    .ascii-table tbody tr:hover {
      background: #42a5f5;
      color: #fff; }
  .ascii-table th,
  .ascii-table td {
    padding: .3rem 1rem; }
  .ascii-table.col + .col {
    margin: 0 0 0 .5rem; }

