.ascii-table-container {
    display: flex;
}

.ascii-table {
    margin: 0;
    border: 1px solid $color-white;

    thead {
        tr {
            background: $color-white;
        }

        th {
            border: none;
            font-weight: 600;
        }
    }

    tbody {
        tr {
            background: $color-white;

            /*&:nth-of-type(odd) {
                background: rgba($color-white, .9);
            }*/

            &:hover td {
                background: $color-active;
                color: $color-white;
                cursor: pointer;
            }
        }
    }

    th,
    td {
        max-width: 200px;
        padding: .25rem .75rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.col + .col {
        /*margin: 0 0 0 .5rem;*/
        border-left: 1px solid $separator-color;
    }
}

.ascii-table-legend {
    $control-char: #ffff8d;
    $punctuation-char: #80d8ff;
    $numeric-char: #b388ff;
    $alphabetic-upper: #ccff90;
    $alphabetic-low: #c6ff00;
    $extended-punct: #e0e0e0;
    $graphic-char: #ffd180;
    $international-char: #ff9e80;
    $udefined: #d7ccc8;


    tbody {
        .control-character {
            background: rgba($control-char, .5);
        }

        .punctuation {
            background: rgba($punctuation-char, .5);
        }

        .numeric-digit {
            background: rgba($numeric-char, .5);
        }

        .alphabetic-uppercase {
            background: rgba($alphabetic-upper, .3);
        }

        .alphabetic-lowercase {
            background: rgba($alphabetic-low, .3);
        }

        .extended-punctuation {
            background: rgba($extended-punct, .3);
        }

        .graphic-character {
            background: rgba($graphic-char, .3);
        }

        .international {
            background: rgba($international-char, .3);
        }

        .undefined {
            background: rgba($udefined, .3);
        }
    }
}
