@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            <i class="fab fa-react"></i> The ASCII Grid
        </h1>
    </div>
</div>