@{
    ViewBag.Title = "Home Page";
}

<div class="container ascii-container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg ascii-nav">
                <a class="navbar-brand" href="#"><small class="font-weight-light">THE</small> <span class="font-weight-bold">ASCII</span> <span class="font-weight-light">GRID</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline form-with-icon">
                        <span class="form-icon">
                            <i class="fas fa-search"></i>
                        </span>
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">How To Use</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card ascii-card">
                <div class="card-header text-white">
                    <h5>Character: <span class="font-weight-bold">SOH</span> <span>(Start Of Heading)</span></h5>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <div class="card ascii-char-code-card" data-toggle="popover" data-placement="bottom" data-content="Copied!">
                                <div class="ascii-char-label">Binary:</div>
                                <div class="ascii-char-value">000000</div>
                                <div class="ascii-char-icon">
                                    <i class="far fa-clipboard"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="card ascii-char-code-card" data-toggle="popover" data-placement="bottom" data-content="Copied!">
                                <div class="ascii-char-label">Oct:</div>
                                <div class="ascii-char-value">001</div>
                                <div class="ascii-char-icon">
                                    <i class="far fa-clipboard"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="card ascii-char-code-card" data-toggle="popover" data-placement="bottom" data-content="Copied!">
                                <div class="ascii-char-label">Dec:</div>
                                <div class="ascii-char-value">1</div>
                                <div class="ascii-char-icon">
                                    <i class="far fa-clipboard"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="card ascii-char-code-card" data-toggle="popover" data-placement="bottom" data-content="Copied!">
                                <div class="ascii-char-label">Hex:</div>
                                <div class="ascii-char-value">1</div>
                                <div class="ascii-char-icon">
                                    <i class="far fa-clipboard"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="card ascii-char-code-card" data-toggle="popover" data-placement="bottom" data-content="Copied!">
                                <div class="ascii-char-label">Glyph:</div>
                                <div class="ascii-char-value">SOH</div>
                                <div class="ascii-char-icon">
                                    <i class="far fa-clipboard"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="card ascii-char-code-card" data-toggle="popover" data-placement="bottom" data-content="Copied!">
                                <div class="ascii-char-label">Caret Notation:</div>
                                <div class="ascii-char-value">^A</div>
                                <div class="ascii-char-icon">
                                    <i class="far fa-clipboard"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="card ascii-char-code-card" data-toggle="popover" data-placement="bottom" data-content="Copied!">
                                <div class="ascii-char-label">C Escape Squence:</div>
                                <div class="ascii-char-value">-</div>
                                <div class="ascii-char-icon">
                                    <i class="far fa-clipboard"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="main-container" class="card-body">
                    @*<p class="card-title">Standard Characters</p>*@

                    @*<div class="ascii-table-container">
                        <table class="table table-striped ascii-table col">
                            <thead>
                                <tr>
                                    <th>DEC</th>
                                    <th>CHAR</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <table class="table table-striped ascii-table col">
                            <thead>
                                <tr>
                                    <th>DEC</th>
                                    <th>CHAR</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <table class="table table-striped ascii-table col">
                            <thead>
                                <tr>
                                    <th>DEC</th>
                                    <th>CHAR</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>*@

                        <div class="col-md-3">
                            <table class="table ascii-table ascii-table-legend col">
                                <thead>
                                    <tr>
                                        <th>Character legend</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="control-character">
                                        <td>
                                            Control character
                                        </td>
                                    </tr>
                                    <tr class="punctuation">
                                        <td>
                                            Punctuation character
                                        </td>
                                    </tr>
                                    <tr class="numeric-digit">
                                        <td>
                                            Numeric character
                                        </td>
                                    </tr>
                                    <tr class="alphabetic-uppercase">
                                        <td>
                                            Alphabetic uppercase
                                        </td>
                                    </tr>
                                    <tr class="alphabetic-lowercase">
                                        <td>
                                            Alphabetic lowercase
                                        </td>
                                    </tr>
                                    <tr class="extended-punctuation">
                                        <td>
                                            Extended punctuation
                                        </td>
                                    </tr>
                                    <tr class="graphic-character">
                                        <td>
                                            Graphic character
                                        </td>
                                    </tr>
                                    <tr class="international">
                                        <td>
                                            International character
                                        </td>
                                    </tr>
                                    <tr class="undefined">
                                        <td>
                                            Undefined
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
