@mixin FourPointGradient($color1, $color2, $color3, $color4) {
    background: -webkit-gradient(linear, left top, left bottom, from($color1), to($color3));
    background: linear-gradient(to bottom, $color1, $color3);

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background: -webkit-gradient(linear, left top, left bottom, from($color2), to($color4));
        background: linear-gradient(to bottom, $color2, $color4);
        -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(white), to(transparent));
        -webkit-mask-image: linear-gradient(to left, white, transparent);
    }
}
